.flex {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

.flex-row {
    flex-direction: row;
}

.flex-reverse {
    flex-direction: column-reverse;
}

.flex-a-i-center {
    align-items: center;
}

.flex-a-s-center {
    align-self: center;
}

/* .gap-20 {
    gap: 20px;
} */

.flex-item-r-25 {
    flex: 0 0 50%;
    padding: 10px;
}

.flex-item-img img {
    position: relative;
    min-width: 135%;
    left: -20%;
    top: -10%;
}

.flex-item-33,
.flex-item-50,
.flex-item-67,
.flex-item-100 {
    flex: 100%;
}



.grid {
    display: grid;
}

.grid-1-2-3rd, .grid-2, .grid-3, .grid-4 {
    grid-template-columns: 1fr;
}

.grid-gap-20 {
    gap: 20px;
}

.grid-content-center {
    justify-content: center;
    align-items: center;
}

@media only screen and (min-width: 768px) {
    .flex {
        flex-direction: row;
        flex-wrap: wrap;
    }

    .flex-item-r-25 {
        flex: 25%;
    }

    .flex-item-50, .flex-item-33 , .flex-item-67 {
        flex: 0 0 50%;
    }

    .grid-1-2-3rd {
        grid-template-columns: 1fr 2fr;
    }

    .grid-2, .grid-4 {
        grid-template-columns: repeat(2, 1fr);
    }

    .grid-3 {
        grid-template-columns: repeat(3, 1fr);
    }

}

@media only screen and (min-width: 1024px) {

    .flex-item-33 {
        flex: 0 0 33.3%;
    }

    .flex-item-67 {
        flex: 0 0 66.7%;
    }

    .grid-4 {
        grid-template-columns: repeat(4, 1fr);
    }

}

.max-width {
    max-width: 1440px;
    margin-left: auto;
    margin-right: auto;
}

.max-width-narrow {
    max-width: 800px;
    margin-left: auto;
    margin-right: auto;
}