main {
    max-width: 750px;
    margin: 40px auto;
}

body {
    font-family: "Cabin", serif;
    background-color: #f0ead6;
    color: #888;

}

a {
    text-overflow: ellipsis;
    color: #444;
    text-decoration: none;
    padding-top: 15px;
}
.normal {
    text-overflow: ellipsis;
    color: #444;
    font-weight: 600;
    text-decoration:underline
}

h1 {
    background-color: #c5c0b056;
    font-family: "Josefin Sans", serif;
    font-weight: 300;
    text-overflow: ellipsis;
    color: #666;
    text-decoration: none;
}

/* Small caps version of Heading1 */
.small {
    font-variant: small-caps;
    font-family: "Josefin Sans", serif;
    text-overflow: ellipsis;
    color: #666;
    padding-left:15px;
    font-size:45px;
}
.smaller {
    font-family: "Josefin Sans", serif;
    text-overflow: ellipsis;
    color: #666;
    padding-left:15px;
    font-size:1.35em;
}

h2 {
    font-family: "Cabin", serif;
    text-overflow: ellipsis;
    text-underline-offset: 15%;
    color: #666;
}

p {
    margin-bottom: 50px;
    vertical-align: auto;
    font-family: "Cabin", serif;
    text-overflow: ellipsis;
    color: #666;
}

table,
th,
td {
    padding: 15px;
    text-align: left;
    border: 1px solid;
}

img {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.half-width {
    display: inline-block;
    width: 49%;
    vertical-align: top;
}

.thirty-width {
    display: inline-block;
    width: 29%;
    vertical-align: top;
}

.forty-width {
    display: inline-block;
    width: 39%;
    vertical-align: top;
}

.sixty-width {
    display: inline-block;
    width: 59%;
    vertical-align: top;
}

.seventy-width {
    display: inline-block;
    width: 69%;
    vertical-align: top;
}

.boxed {
    margin: 0px;
    padding: 10px;
    border: 0px solid #444;
}

footer {

    font-variant: small-caps;
    background-color: #c5c0b056;
    font-family: "Josefin Sans", serif;
    font-weight: 100;
    text-overflow: ellipsis;
    color: #666;
}


.hero-image {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("images/background1.jpg");
    height: 50%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

.hero-text {
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
}

.hero-text button {
    border: none;
    outline: 0;
    display: inline-block;
    padding: 10px 25px;
    color: black;
    background-color: #ddd;
    text-align: center;
    cursor: pointer;
}
.hero-text button:hover {
    background-color: #555;
    color: white;
  }
nav.flex {
    background-color: #c5c0b056;
    display: flex;
    align-items: center;
}
.flex {
    display: flex;
}
.justify-content {
    justify-content: space-between;
}
nav {
    position: sticky;
    top: 0;
    z-index: 1000;
    height:px;
}