main {
    max-width: 750px;
    margin: 40px auto;
}
body {
    font-family: "Cabin", serif;
    background-color: #f0ead6;
    color: #888;
    
}
a {
    text-overflow: ellipsis;
    color :#444;
    font-weight:bold
}
h1 {
    background-color: #c5c0b056;
    font-family: "Josefin Sans", serif;
    font-weight: 300;
    font-size: 3em;
    text-overflow: ellipsis;
    color:#666
}

/* Small caps version of Heading1 */
h1.small {
    
    font-variant: small-caps;
    font-family: "Josefin Sans", serif;
    text-overflow: ellipsis;
    text-decoration: underline;
    text-underline-offset: 15%;
    color:#666
    
}
h2 {
    font-family: "Cabin", serif;
    text-overflow: ellipsis;
    text-underline-offset: 15%;
    color:#666
    
}
p {
    margin-bottom: 50px;
    vertical-align:auto;
    font-family: "Cabin", serif;
    text-overflow: ellipsis;
    color:#666
}
table, th, td {
    padding: 15px;
    text-align: left;
    border: 1px solid;
  }
img {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.half-width {
    display: inline-block;
    width: 49%;
    vertical-align: top;
}
.thirty-width {
    display: inline-block;
    width: 29%;
    vertical-align: top;
}
.forty-width {
    display: inline-block;
    width: 39%;
    vertical-align: top;
}
.sixty-width {
    display: inline-block;
    width: 59%;
    vertical-align: top;
}
.seventy-width {
    display: inline-block;
    width: 69%;
    vertical-align: top;
}
.boxed {
    margin: 0px;
    padding: 10px;
    border: 0px solid #444;
}

footer {
    
    font-variant: small-caps;
    background-color: #c5c0b056;
    font-family: "Josefin Sans", serif;
    font-weight: 100;
    text-overflow: ellipsis;
    color:#666
}
