:root {
  --bg: #121212;
  --text: #ffffff;
}

[data-theme="light"] {
  --bg: #f2f2f2;
  --text: #111111;
}

body {
  background-color: var(--bg);
  color: var(--text);
  transition: 0.4s;
  font-family: sans-serif;
}

body {
  font-family: 'Inter', sans-serif;
}

.logo,
h1, h2, h3,
.nav-links a,
.btn,
.theme-toggle {
  font-family: 'Orbitron', sans-serif;
}
